## Course Assignment Instructions
You should have Python (version 3.8 or later) and Jupyter Notebook installed to complete this assignment. You will write code in the empty cell/cells below the problem. While most of this will be a programming assignment, some questions will ask you to "write a few sentences" in markdown cells. 

Submission Instructions:

Create a labs directory in your personal class repository (e.g., located in your home directory)
Clone the class repository
Copy this Jupyter notebook file (.ipynb) into your repo/labs directory
Make your edits, commit changes, and push to your repository
All submissions must be pushed before the due date to avoid late penalties

* Install the numpy, scipy, statsmodels, and pandas packages (we will be using these throughout the semester)

In [1]:
pip install numpy scipy statsmodels pandas

Requirement already satisfied: numpy in c:\users\shana\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: scipy in c:\users\shana\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: statsmodels in c:\users\shana\anaconda3\lib\site-packages (0.14.2)
Requirement already satisfied: pandas in c:\users\shana\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\shana\anaconda3\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\shana\anaconda3\lib\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shana\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shana\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shana\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six in c:\users\shana\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

* Print out the numerical constant pi with ten digits after the decimal point using constant 'pi'. You will need to use the math module in python for this.

In [3]:
import math
print(round(math.pi, 10))

3.1415926536

* Sum up the first 103 terms of the series 1 + 1/2 + 1/4 + 1/8 + ... use base python

In [5]:
sum = 0
for n in range(103):
    sum += 1/(2 ** n)
print(sum)

2.0

using numpy

In [7]:
import numpy as np

total = np.sum(1/(2 ** i) for i in np.arange(103))
print(total)

inf

C:\Users\shana\AppData\Local\Temp\ipykernel_26408\2937037569.py:3: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  total = np.sum(1/(2 ** i) for i in np.arange(103))
C:\Users\shana\AppData\Local\Temp\ipykernel_26408\2937037569.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  total = np.sum(1/(2 ** i) for i in np.arange(103))

 * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.  * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.

In [9]:
total = np.sum(1/(2.0 ** i) for i in np.arange(103))
print(total)

2.0

C:\Users\shana\AppData\Local\Temp\ipykernel_26408\326380725.py:1: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  total = np.sum(1/(2.0 ** i) for i in np.arange(103))

* Find the product of the first 387 terms of `1 * 1/2 * 1/4 * 1/8 *` ...

using base python

In [11]:
product = 1

for n in range(387):
    product *= 1/(2 ** n)

print(product)

0.0

using numpy

In [13]:
num = np.prod(1/(2.0 ** np.arange(387)))

print(num)

0.0

Is this answer *exactly* correct?

No, this answer is not exactly correct. The number should be positive although very small and the answer generated is a result of numerical underflow.

* Figure out a means to express the answer more exactly. Not compute exactly, but express more exactly.

In [17]:
import math as m

tot = -(m.log(2)) * sum(range(387))
print(tot)

TypeError: 'float' object is not callable

* using numpy ... Hint: use the `log` and `sum` functions in numpy

In [19]:
-np.log(2) * np.sum(np.arange(387))

-51771.856063202875

* Create the sequence `x = [Inf, 20, 18, ..., -20]`.

Pure python

In [21]:
# Create the sequence
x = [float('inf')] + list(range(20, -21, -2))

# Print the result
print(x)

[inf, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

Using numpy

In [23]:
# Create the sequence
x = [float('inf')] + list(np.arange(20, -22, -2))

# Print the result
print(x)

[inf, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

*   Create the sequence `x = [log_3(Inf), log_3(100), log_3(98), ... log_3(-20)]` ... Use `log` from numpy.

In [25]:
x = [float('inf')] + list(np.log(np.arange(100, -21, -2))/np.log(3))

x = np.array(x)
print(x)

[       inf 4.19180655 4.17341725 4.15464877 4.13548513 4.11590934
 4.09590327 4.0754476  4.05452164 4.03310326 4.01116872 3.98869254
 3.96564727 3.94200337 3.91772888 3.89278926 3.86714702 3.84076143
 3.81358809 3.78557852 3.75667961 3.72683303 3.69597451 3.66403301
 3.63092975 3.59657703 3.5608768  3.52371901 3.48497958 3.44451785
 3.4021735  3.35776278 3.31107361 3.26185951 3.20983168 3.15464877
 3.09590327 3.03310326 2.96564727 2.89278926 2.81358809 2.72683303
 2.63092975 2.52371901 2.4021735  2.26185951 2.09590327 1.89278926
 1.63092975 1.26185951 0.63092975       -inf        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan]

C:\Users\shana\AppData\Local\Temp\ipykernel_26408\506790918.py:1: RuntimeWarning: divide by zero encountered in log
  x = [float('inf')] + list(np.log(np.arange(100, -21, -2))/np.log(3))
C:\Users\shana\AppData\Local\Temp\ipykernel_26408\506790918.py:1: RuntimeWarning: invalid value encountered in log
  x = [float('inf')] + list(np.log(np.arange(100, -21, -2))/np.log(3))

* Create a vector of booleans where the entry is true if `x[i]` is positive and finite. Use `&` from base python along with `isnan` and `isinfinite` from numpy

In [27]:
y = ~np.isnan(x) & np.isfinite(x) & (x > 0)

print(y)

[False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False False
 False False]

* Locate the indices of the non-real numbers in this vector. Numpy has a `where` function in lieu of R's `which`

In [29]:
false_indices = np.where(y == False)[0]
print(false_indices)

[ 0 51 52 53 54 55 56 57 58 59 60 61]

* Locate the indices of the infinite quantities in this vector using `where` and `isinf` from numpy.

In [31]:
inf_indices = np.where(np.isinf(x))[0]
print(inf_indices)

[ 0 51]

* Locate the indices of the min and max in this vector. Hint: use the `arg.min` and `arg.max` functions from numpy

In [33]:
xs = x[~np.isnan(x)]
min_index = np.argmin(xs)
max_index = np.argmax(xs)
r = [max_index, min_index]
print(r)

[0, 51]

* Count the number of unique values in `x`. Use `unique` from numpy.

In [35]:
len(np.unique(x))

53

* Cast `x` to a factor. Do the number of levels make sense? Should be 53 unique values. Use `categorical` from pandas.

In [37]:
import pandas as pd

# Cast x to a categorical (similar to as.factor(x) in R)
x_factor = pd.Categorical(x)

# Check the unique levels (categories)
levels = x_factor.categories
num_levels = len(levels)

print(f"Factor levels: {levels}")
print(f"Number of levels: {num_levels}")

Factor levels: Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf],
      dtype='float64')
Number of levels: 52

* In Python, using pandas, NaN is not treated as a level in a categorical type by default. Pandas does not allow NaN to be a category. To include NaN as a level, you need to explicitly handle it by filling them with a placeholder value (like "NaN" or a specific number) before making the data categorical. Use `categorical` and `isna` from pandas.

In [39]:
# Replace NaN with a placeholder value (e.g., 'NaN')
x_filled = [val if not pd.isna(val) else 'NaN' for val in x]

# Convert to categorical
x_factor = pd.Categorical(x_filled)

# Check the unique levels (including 'NaN' as a level)
factor_levels = x_factor.categories
num_levels = len(factor_levels)

print(f"Factor levels (including NaN): {factor_levels}")
print(f"Number of levels: {num_levels}")

Factor levels (including NaN): Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf,              'NaN'],
      dtype='object')
Number of levels: 53

* Cast `x` to integers. Use `where`, `isinfinite` from numpy and `astype` from base python.

In [41]:
x_finite = np.where(np.isfinite(x), x, 0)
x_integers = x_finite.astype(int)
print(x_integers)

[0 4 4 4 4 4 4 4 4 4 4 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 2 2 2 2 2 2 2 2 2 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]

* Use `x` to create a new vector `y` containing only the real numbers in x. Use `isnan`, `logical_and`, and `reduce` from numpy

In [43]:
y = x[np.logical_and.reduce((~np.isnan(x), np.isfinite(x), x > 0))]
print(y)

[4.19180655 4.17341725 4.15464877 4.13548513 4.11590934 4.09590327
 4.0754476  4.05452164 4.03310326 4.01116872 3.98869254 3.96564727
 3.94200337 3.91772888 3.89278926 3.86714702 3.84076143 3.81358809
 3.78557852 3.75667961 3.72683303 3.69597451 3.66403301 3.63092975
 3.59657703 3.5608768  3.52371901 3.48497958 3.44451785 3.4021735
 3.35776278 3.31107361 3.26185951 3.20983168 3.15464877 3.09590327
 3.03310326 2.96564727 2.89278926 2.81358809 2.72683303 2.63092975
 2.52371901 2.4021735  2.26185951 2.09590327 1.89278926 1.63092975
 1.26185951 0.63092975]

* Use the left rectangle method to numerically integrate x^2 from 0 to 1 with rectangle width size 1e-6. Use `arrange` and `sum` from numpy

In [45]:
# Define the rectangle width
width = 1e-6

# Create the sequence for the left endpoints (similar to seq in R)
x = np.arange(0, 1, width)

# Compute the sum using the left rectangle method
approximation = np.sum(x ** 2) * width

# Print the result
print(approximation)

0.33333283333349994

* Calculate the average of 100 realizations of standard Bernoullis in one line using the numpy's random.choice function.

In [47]:
np.mean(np.random.choice([0,1], size = 100, replace = True))

0.59

* Calculate the average of 500 realizations of Bernoullis with p = 0.9 in one line using the `random.choice` and `mean` functions in numpy.

In [49]:
np.mean(np.random.choice([0,1], size = 500, replace = True, p = [.1, .9]))

0.892

* Calculate the average of 1000 realizations of Bernoullis with p = 0.9 in one line using `binom` from scipy.stats.

In [51]:
from scipy.stats import binom

binom.rvs(n = 1, p = .9, size = 1000).mean()

0.892

* Let `n = 50`. Create a n x n matrix `R` of exactly 50% entries 0's, 25% 1's 25% 2's. These values should be in random locations.

In [53]:
import pandas as pd

# Set n
n = 50

# Generate the random values with specified proportions
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the values into an n x n matrix
R = values.reshape(n, n)

# Convert the matrix into a DataFrame
df = pd.DataFrame(R)

# Print the DataFrame
print(df)

    0   1   2   3   4   5   6   7   8   9   ...  40  41  42  43  44  45  46  \
0    2   2   0   0   1   2   0   1   0   1  ...   0   0   2   0   2   0   0
1    0   0   1   0   0   2   2   0   0   0  ...   2   1   0   0   0   1   0
2    2   1   0   2   1   1   1   0   2   0  ...   1   0   1   2   1   0   0
3    1   0   0   1   0   0   2   0   1   1  ...   2   0   1   0   2   1   2
4    1   0   1   0   0   0   0   1   2   0  ...   1   0   0   2   2   1   1
5    1   0   0   0   2   0   0   1   2   0  ...   0   2   0   0   1   1   1
6    0   0   2   0   0   2   0   0   0   0  ...   2   1   0   0   0   0   1
7    1   0   0   0   2   0   0   0   1   0  ...   2   1   0   0   1   0   1
8    0   0   0   2   0   1   0   0   0   0  ...   2   2   0   1   1   1   0
9    0   0   2   2   1   0   0   1   1   0  ...   2   0   0   2   2   0   1
10   2   1   0   2   0   0   0   0   2   1  ...   1   2   2   0   2   1   2
11   0   0   0   0   2   2   2   1   0   0  ...   0   0   0   0   1   0   2
12   2   2   1   2   0   1   1   0   2   2  ...   0   2   0   0   2   0   0
13   0   1   0   0   0   0   2   0   1   2  ...   1   2   1   1   1   0   0
14   0   2   0   2   0   1   0   2   1   1  ...   0   1   0   0   0   0   2
15   2   2   2   1   0   1   0   0   0   2  ...   1   0   1   0   0   0   0
16   2   0   0   0   2   1   0   1   2   1  ...   2   1   0   0   0   0   0
17   2   2   1   2   2   0   2   0   0   2  ...   0   0   0   0   2   1   0
18   0   2   2   0   2   0   2   2   0   0  ...   2   0   2   1   0   1   1
19   0   0   1   2   2   2   0   2   0   1  ...   0   1   0   1   2   0   0
20   2   1   0   0   0   0   2   2   2   1  ...   0   2   2   0   0   1   0
21   0   1   1   1   2   0   1   0   2   0  ...   0   1   0   1   1   0   0
22   0   2   2   0   1   2   2   0   0   0  ...   0   2   2   0   1   0   1
23   0   1   2   0   0   0   2   1   0   2  ...   0   1   2   0   0   2   0
24   0   1   2   2   0   2   1   1   1   0  ...   2   1   0   0   2   0   1
25   0   1   2   0   1   0   0   0   0   0  ...   0   0   2   2   0   2   0
26   1   1   0   0   2   2   1   1   2   1  ...   0   0   1   1   2   0   0
27   0   0   2   1   1   2   2   2   1   2  ...   0   0   1   1   2   0   0
28   0   0   1   1   0   0   0   0   0   0  ...   2   0   0   2   0   0   0
29   0   0   1   1   0   2   0   2   1   0  ...   0   2   0   0   0   1   2
30   0   2   1   1   0   0   2   2   2   0  ...   0   1   0   0   2   1   1
31   0   2   1   1   0   1   1   0   0   0  ...   1   0   0   1   2   0   2
32   0   2   0   2   0   0   2   1   0   0  ...   2   0   0   2   2   2   1
33   1   0   0   0   1   0   0   1   2   0  ...   0   0   1   1   0   1   1
34   2   2   1   2   0   2   1   0   0   1  ...   0   0   1   1   0   0   1
35   2   0   1   2   2   1   1   1   1   0  ...   0   1   1   1   1   1   2
36   1   0   1   0   2   0   0   2   0   2  ...   0   0   2   1   0   1   0
37   2   0   0   0   2   2   2   2   2   2  ...   1   0   1   0   0   1   2
38   0   1   0   2   0   0   2   1   1   2  ...   2   0   0   0   2   0   1
39   2   0   0   0   0   2   2   0   1   2  ...   1   0   0   2   1   2   1
40   0   0   2   0   2   0   0   1   0   2  ...   2   2   2   1   0   0   0
41   2   0   2   1   0   0   2   1   0   0  ...   0   1   0   2   0   2   0
42   0   2   1   0   2   1   0   2   0   1  ...   1   0   1   0   0   0   0
43   0   1   1   0   0   1   0   0   0   0  ...   0   2   0   1   0   0   0
44   1   0   0   0   1   0   0   1   0   2  ...   2   1   1   0   0   0   0
45   2   1   0   0   2   0   2   1   0   1  ...   1   1   2   0   2   0   0
46   0   0   1   2   1   1   0   2   2   0  ...   2   1   2   0   2   0   0
47   0   0   0   1   0   0   2   2   0   0  ...   0   2   2   0   0   1   0
48   0   2   0   0   0   0   0   1   0   1  ...   2   0   0   0   2   0   0
49   2   0   0   0   0   2   2   1   1   0  ...   1   1   0   1   2   0   0

    47  48  49
0    0   1   2
1    1   1   2
2    0   0   1
3    0   1   1
4    2   0   0
5    0   2   0
6    0   0   2
7    2   2   1
8    0   0   0
9    0   1   0
10   1   1   2
11   0   1   0
12   0   1   1
13   1   2   2
14   1   2   0
15   1   0   1
16   1   0   0
17   0   1   1
18   2   0   0
19   1   2   0
20   0   1   2
21   2   0   2
22   2   0   1
23   0   0   1
24   2   0   0
25   0   2   0
26   0   0   0
27   2   2   0
28   2   2   0
29   0   0   0
30   1   0   0
31   1   2   0
32   0   1   1
33   2   1   2
34   1   1   0
35   0   0   0
36   1   0   0
37   2   0   0
38   0   0   1
39   1   0   0
40   1   1   0
41   1   2   0
42   0   1   1
43   0   1   2
44   0   0   2
45   1   1   2
46   0   2   2
47   0   0   1
48   0   2   0
49   2   0   0

[50 rows x 50 columns]

* Randomly punch holes (i.e. `NA`) values in this matrix so that an each entry is missing with probability 30%.

In [55]:
# Convert to float to allow NaN
df = df.astype(float)

# Randomly punch holes with 30% probability
mask = np.random.choice([True, False], size=df.shape, p=[0.3, 0.7])
df[mask] = np.nan

# View the resulting DataFrame
print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   2.0  2.0  NaN  0.0  1.0  NaN  0.0  1.0  0.0  1.0  ...  NaN  0.0  2.0  0.0
1   0.0  0.0  1.0  0.0  NaN  2.0  2.0  0.0  0.0  NaN  ...  NaN  NaN  NaN  0.0
2   2.0  1.0  0.0  NaN  1.0  1.0  1.0  0.0  2.0  0.0  ...  1.0  NaN  1.0  2.0
3   NaN  0.0  0.0  1.0  0.0  0.0  2.0  0.0  1.0  1.0  ...  2.0  0.0  NaN  NaN
4   NaN  0.0  NaN  NaN  0.0  NaN  0.0  NaN  2.0  0.0  ...  NaN  NaN  NaN  2.0
5   1.0  0.0  0.0  NaN  2.0  NaN  0.0  1.0  NaN  NaN  ...  0.0  2.0  NaN  0.0
6   0.0  NaN  2.0  0.0  0.0  2.0  NaN  NaN  0.0  0.0  ...  2.0  NaN  0.0  0.0
7   1.0  NaN  0.0  0.0  NaN  NaN  0.0  0.0  NaN  0.0  ...  2.0  1.0  0.0  0.0
8   0.0  NaN  0.0  2.0  0.0  1.0  0.0  0.0  0.0  NaN  ...  2.0  NaN  NaN  1.0
9   0.0  0.0  2.0  2.0  NaN  0.0  0.0  1.0  1.0  0.0  ...  2.0  0.0  NaN  NaN
10  2.0  NaN  0.0  2.0  0.0  0.0  0.0  NaN  NaN  NaN  ...  1.0  NaN  2.0  NaN
11  0.0  0.0  0.0  0.0  2.0  NaN  2.0  1.0  0.0  0.0  ...  0.0  NaN  0.0  0.0
12  2.0  NaN  1.0  2.0  0.0  NaN  1.0  NaN  2.0  2.0  ...  0.0  2.0  0.0  0.0
13  0.0  1.0  0.0  0.0  NaN  0.0  NaN  0.0  1.0  NaN  ...  NaN  NaN  1.0  1.0
14  0.0  2.0  0.0  2.0  0.0  1.0  0.0  2.0  1.0  1.0  ...  0.0  NaN  NaN  0.0
15  2.0  2.0  2.0  1.0  0.0  1.0  0.0  0.0  0.0  2.0  ...  NaN  0.0  1.0  0.0
16  2.0  NaN  NaN  0.0  2.0  1.0  0.0  NaN  NaN  1.0  ...  2.0  NaN  0.0  0.0
17  2.0  NaN  NaN  2.0  2.0  0.0  2.0  0.0  0.0  2.0  ...  0.0  NaN  0.0  0.0
18  NaN  NaN  2.0  0.0  2.0  0.0  NaN  2.0  NaN  NaN  ...  2.0  0.0  2.0  1.0
19  NaN  NaN  1.0  2.0  NaN  2.0  0.0  2.0  0.0  NaN  ...  NaN  NaN  0.0  1.0
20  2.0  1.0  NaN  0.0  0.0  NaN  2.0  2.0  2.0  NaN  ...  0.0  NaN  NaN  NaN
21  0.0  1.0  1.0  NaN  NaN  NaN  1.0  0.0  NaN  0.0  ...  0.0  1.0  NaN  1.0
22  0.0  2.0  2.0  NaN  1.0  2.0  2.0  0.0  0.0  NaN  ...  0.0  2.0  2.0  NaN
23  NaN  NaN  2.0  0.0  0.0  0.0  2.0  1.0  NaN  2.0  ...  NaN  1.0  NaN  NaN
24  NaN  1.0  2.0  NaN  0.0  NaN  1.0  NaN  1.0  0.0  ...  2.0  NaN  0.0  0.0
25  0.0  1.0  NaN  0.0  1.0  0.0  NaN  0.0  0.0  0.0  ...  0.0  0.0  2.0  2.0
26  1.0  NaN  NaN  0.0  2.0  2.0  NaN  1.0  2.0  NaN  ...  0.0  NaN  1.0  1.0
27  0.0  0.0  NaN  NaN  1.0  NaN  NaN  NaN  1.0  2.0  ...  0.0  0.0  1.0  1.0
28  NaN  0.0  NaN  1.0  0.0  NaN  0.0  0.0  0.0  0.0  ...  2.0  NaN  NaN  2.0
29  0.0  0.0  1.0  1.0  0.0  2.0  NaN  2.0  1.0  NaN  ...  NaN  2.0  0.0  NaN
30  0.0  2.0  1.0  NaN  0.0  0.0  2.0  2.0  2.0  0.0  ...  NaN  1.0  0.0  0.0
31  0.0  2.0  1.0  1.0  0.0  NaN  1.0  NaN  NaN  0.0  ...  1.0  0.0  0.0  1.0
32  0.0  2.0  NaN  2.0  NaN  0.0  NaN  1.0  0.0  0.0  ...  2.0  NaN  0.0  2.0
33  NaN  0.0  NaN  0.0  1.0  NaN  0.0  1.0  NaN  0.0  ...  NaN  0.0  1.0  NaN
34  2.0  NaN  1.0  NaN  0.0  NaN  NaN  NaN  NaN  1.0  ...  0.0  0.0  NaN  NaN
35  2.0  NaN  1.0  2.0  NaN  1.0  1.0  1.0  1.0  0.0  ...  0.0  1.0  1.0  1.0
36  1.0  0.0  1.0  0.0  NaN  0.0  NaN  2.0  0.0  2.0  ...  NaN  NaN  NaN  NaN
37  2.0  0.0  NaN  NaN  2.0  NaN  2.0  2.0  2.0  NaN  ...  NaN  0.0  1.0  0.0
38  0.0  1.0  NaN  2.0  0.0  0.0  2.0  NaN  NaN  2.0  ...  2.0  0.0  0.0  NaN
39  2.0  NaN  0.0  NaN  0.0  2.0  2.0  0.0  1.0  NaN  ...  NaN  0.0  0.0  2.0
40  0.0  NaN  2.0  0.0  2.0  NaN  NaN  NaN  0.0  2.0  ...  2.0  NaN  2.0  1.0
41  2.0  NaN  2.0  1.0  0.0  NaN  NaN  1.0  0.0  0.0  ...  0.0  1.0  NaN  2.0
42  0.0  2.0  NaN  0.0  2.0  1.0  0.0  2.0  0.0  1.0  ...  1.0  0.0  1.0  0.0
43  NaN  1.0  1.0  NaN  0.0  NaN  0.0  0.0  0.0  NaN  ...  0.0  NaN  0.0  NaN
44  1.0  NaN  0.0  0.0  1.0  0.0  NaN  1.0  NaN  NaN  ...  2.0  1.0  1.0  0.0
45  2.0  NaN  0.0  0.0  2.0  0.0  NaN  1.0  0.0  NaN  ...  1.0  NaN  NaN  0.0
46  0.0  NaN  1.0  NaN  1.0  1.0  0.0  2.0  2.0  0.0  ...  2.0  NaN  2.0  0.0
47  0.0  0.0  0.0  1.0  0.0  0.0  2.0  2.0  0.0  0.0  ...  NaN  2.0  2.0  NaN
48  0.0  NaN  0.0  0.0  0.0  0.0  0.0  NaN  0.0  NaN  ...  NaN  0.0  NaN  NaN
49  2.0  0.0  0.0  NaN  0.0  2.0  2.0  NaN  NaN  0.0  ...  1.0  1.0  0.0  NaN

     44   45   46   47   48   49
0   NaN  0.0  0.0  NaN  1.0  2.0
1   0.0  NaN  0.0  NaN  NaN  2.0
2   1.0  NaN  NaN  0.0  NaN  1.0
3   2.0  1.0  NaN  NaN  NaN  NaN
4   2.0  1.0  1.0  2.0  NaN  NaN
5   NaN  1.0  1.0  0.0  NaN  NaN
6   0.0  0.0  NaN  0.0  NaN  NaN
7   1.0  0.0  1.0  NaN  NaN  1.0
8   1.0  1.0  0.0  0.0  0.0  0.0
9   2.0  NaN  1.0  0.0  1.0  NaN
10  2.0  1.0  2.0  1.0  1.0  2.0
11  1.0  NaN  2.0  0.0  NaN  0.0
12  NaN  0.0  NaN  NaN  1.0  NaN
13  1.0  NaN  0.0  1.0  NaN  2.0
14  0.0  0.0  2.0  1.0  2.0  0.0
15  NaN  0.0  0.0  NaN  0.0  NaN
16  0.0  0.0  0.0  1.0  NaN  NaN
17  2.0  1.0  0.0  0.0  NaN  1.0
18  0.0  1.0  1.0  NaN  0.0  0.0
19  2.0  0.0  0.0  1.0  2.0  0.0
20  0.0  1.0  0.0  NaN  NaN  2.0
21  NaN  0.0  0.0  2.0  0.0  2.0
22  NaN  0.0  1.0  NaN  0.0  NaN
23  0.0  2.0  0.0  0.0  0.0  1.0
24  NaN  0.0  1.0  NaN  0.0  0.0
25  NaN  NaN  NaN  NaN  2.0  NaN
26  2.0  0.0  0.0  0.0  0.0  0.0
27  NaN  0.0  0.0  2.0  2.0  0.0
28  NaN  0.0  NaN  2.0  2.0  0.0
29  NaN  1.0  2.0  0.0  NaN  0.0
30  2.0  1.0  1.0  NaN  NaN  0.0
31  2.0  0.0  2.0  1.0  2.0  0.0
32  2.0  2.0  1.0  NaN  1.0  NaN
33  0.0  1.0  1.0  NaN  1.0  2.0
34  0.0  0.0  1.0  1.0  1.0  NaN
35  NaN  NaN  2.0  0.0  NaN  0.0
36  0.0  1.0  NaN  1.0  0.0  0.0
37  0.0  1.0  NaN  2.0  0.0  0.0
38  NaN  NaN  1.0  0.0  0.0  1.0
39  1.0  2.0  1.0  1.0  0.0  0.0
40  0.0  0.0  NaN  1.0  NaN  0.0
41  0.0  2.0  NaN  NaN  2.0  0.0
42  NaN  0.0  0.0  0.0  1.0  1.0
43  NaN  0.0  NaN  NaN  1.0  2.0
44  0.0  NaN  NaN  0.0  NaN  2.0
45  2.0  0.0  NaN  1.0  1.0  2.0
46  NaN  0.0  NaN  NaN  2.0  2.0
47  0.0  NaN  NaN  0.0  0.0  1.0
48  2.0  0.0  NaN  0.0  2.0  0.0
49  2.0  0.0  0.0  2.0  NaN  NaN

[50 rows x 50 columns]

In [57]:
import numpy as np
import pandas as pd

# Set matrix dimensions and proportions
n = 50
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the matrix
R = values.reshape(n, n)

# Create a mask for punching holes with a 30% probability
random_holes = np.random.choice([True, False], size=(n, n), p=[0.3, 0.7])

# Assign NaN to the corresponding positions
R = R.astype(float)  # Convert to float to support NaN
R[random_holes] = np.nan

# Convert to DataFrame
df = pd.DataFrame(R)


print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   0.0  1.0  2.0  NaN  NaN  1.0  2.0  0.0  0.0  0.0  ...  NaN  NaN  1.0  0.0
1   0.0  1.0  2.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  ...  NaN  0.0  NaN  NaN
2   NaN  0.0  NaN  2.0  2.0  0.0  1.0  NaN  0.0  NaN  ...  0.0  2.0  0.0  NaN
3   1.0  NaN  NaN  0.0  NaN  NaN  2.0  1.0  NaN  1.0  ...  NaN  0.0  NaN  0.0
4   0.0  1.0  1.0  2.0  NaN  0.0  1.0  NaN  NaN  0.0  ...  0.0  1.0  1.0  0.0
5   0.0  NaN  0.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0  ...  0.0  1.0  1.0  1.0
6   NaN  NaN  1.0  2.0  1.0  1.0  2.0  0.0  NaN  1.0  ...  1.0  1.0  NaN  1.0
7   2.0  0.0  0.0  0.0  0.0  2.0  NaN  NaN  NaN  0.0  ...  0.0  NaN  1.0  0.0
8   2.0  0.0  1.0  NaN  2.0  1.0  2.0  0.0  0.0  0.0  ...  0.0  2.0  0.0  0.0
9   NaN  2.0  1.0  NaN  2.0  0.0  2.0  NaN  2.0  NaN  ...  0.0  1.0  0.0  NaN
10  NaN  0.0  0.0  1.0  1.0  2.0  2.0  NaN  NaN  2.0  ...  2.0  NaN  1.0  NaN
11  1.0  NaN  0.0  0.0  NaN  0.0  NaN  2.0  2.0  0.0  ...  1.0  0.0  1.0  0.0
12  0.0  0.0  2.0  0.0  NaN  2.0  0.0  0.0  NaN  2.0  ...  2.0  0.0  2.0  NaN
13  0.0  1.0  NaN  0.0  NaN  1.0  0.0  NaN  0.0  NaN  ...  NaN  NaN  0.0  0.0
14  2.0  0.0  NaN  NaN  2.0  0.0  0.0  0.0  0.0  2.0  ...  0.0  NaN  2.0  0.0
15  0.0  NaN  2.0  0.0  NaN  NaN  1.0  NaN  0.0  1.0  ...  NaN  1.0  2.0  1.0
16  0.0  NaN  2.0  NaN  NaN  NaN  0.0  0.0  0.0  2.0  ...  NaN  1.0  1.0  NaN
17  0.0  NaN  NaN  0.0  2.0  0.0  0.0  0.0  0.0  NaN  ...  2.0  1.0  NaN  1.0
18  NaN  NaN  0.0  0.0  NaN  1.0  0.0  1.0  0.0  0.0  ...  2.0  1.0  0.0  NaN
19  NaN  NaN  0.0  0.0  2.0  NaN  NaN  1.0  NaN  NaN  ...  NaN  1.0  NaN  0.0
20  0.0  1.0  0.0  2.0  0.0  0.0  2.0  NaN  NaN  0.0  ...  NaN  NaN  0.0  0.0
21  NaN  1.0  0.0  0.0  0.0  2.0  1.0  0.0  2.0  1.0  ...  0.0  NaN  NaN  2.0
22  1.0  0.0  1.0  0.0  0.0  NaN  NaN  1.0  0.0  NaN  ...  1.0  NaN  NaN  NaN
23  0.0  0.0  2.0  2.0  NaN  0.0  1.0  1.0  0.0  1.0  ...  1.0  0.0  NaN  2.0
24  0.0  NaN  NaN  NaN  0.0  2.0  0.0  1.0  0.0  2.0  ...  0.0  NaN  NaN  0.0
25  NaN  2.0  0.0  1.0  2.0  NaN  NaN  1.0  0.0  0.0  ...  NaN  2.0  2.0  NaN
26  NaN  0.0  NaN  0.0  NaN  NaN  0.0  0.0  0.0  0.0  ...  NaN  0.0  NaN  0.0
27  NaN  2.0  0.0  NaN  NaN  0.0  2.0  1.0  0.0  0.0  ...  0.0  NaN  1.0  0.0
28  1.0  NaN  NaN  0.0  NaN  NaN  1.0  NaN  0.0  NaN  ...  NaN  0.0  1.0  1.0
29  0.0  2.0  NaN  1.0  2.0  0.0  0.0  NaN  NaN  0.0  ...  NaN  1.0  NaN  NaN
30  0.0  NaN  NaN  NaN  0.0  NaN  2.0  2.0  NaN  NaN  ...  0.0  2.0  1.0  NaN
31  1.0  0.0  1.0  1.0  2.0  0.0  1.0  2.0  0.0  2.0  ...  NaN  2.0  2.0  0.0
32  NaN  2.0  2.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  NaN  NaN  NaN
33  0.0  1.0  0.0  0.0  NaN  0.0  0.0  2.0  2.0  NaN  ...  NaN  0.0  0.0  2.0
34  0.0  1.0  0.0  0.0  NaN  1.0  0.0  0.0  0.0  0.0  ...  NaN  0.0  NaN  NaN
35  0.0  NaN  1.0  NaN  0.0  1.0  NaN  2.0  1.0  2.0  ...  NaN  NaN  NaN  1.0
36  2.0  0.0  NaN  2.0  2.0  0.0  0.0  0.0  NaN  0.0  ...  2.0  NaN  2.0  0.0
37  0.0  0.0  0.0  NaN  2.0  0.0  1.0  0.0  NaN  NaN  ...  2.0  0.0  1.0  NaN
38  NaN  NaN  0.0  NaN  0.0  NaN  NaN  0.0  2.0  NaN  ...  0.0  2.0  NaN  0.0
39  2.0  0.0  0.0  2.0  0.0  NaN  1.0  NaN  NaN  NaN  ...  NaN  NaN  1.0  0.0
40  NaN  0.0  2.0  NaN  0.0  NaN  1.0  NaN  2.0  0.0  ...  0.0  2.0  0.0  NaN
41  NaN  NaN  0.0  NaN  0.0  2.0  NaN  NaN  NaN  1.0  ...  2.0  0.0  NaN  NaN
42  NaN  NaN  0.0  0.0  0.0  1.0  0.0  1.0  NaN  0.0  ...  0.0  1.0  1.0  NaN
43  2.0  0.0  NaN  NaN  1.0  1.0  1.0  1.0  NaN  1.0  ...  2.0  NaN  0.0  0.0
44  0.0  2.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  NaN  NaN  0.0  1.0
45  NaN  NaN  2.0  NaN  0.0  NaN  0.0  2.0  0.0  NaN  ...  NaN  NaN  0.0  NaN
46  0.0  2.0  2.0  2.0  2.0  1.0  0.0  NaN  0.0  NaN  ...  0.0  1.0  2.0  1.0
47  0.0  0.0  0.0  1.0  1.0  0.0  2.0  1.0  0.0  1.0  ...  2.0  NaN  0.0  2.0
48  0.0  0.0  0.0  NaN  NaN  1.0  1.0  2.0  2.0  NaN  ...  0.0  NaN  1.0  0.0
49  2.0  0.0  0.0  NaN  NaN  NaN  NaN  0.0  1.0  0.0  ...  NaN  0.0  0.0  0.0

     44   45   46   47   48   49
0   NaN  0.0  1.0  1.0  0.0  NaN
1   0.0  1.0  0.0  NaN  0.0  0.0
2   0.0  2.0  0.0  0.0  2.0  NaN
3   1.0  2.0  NaN  0.0  2.0  0.0
4   0.0  NaN  0.0  1.0  2.0  0.0
5   0.0  NaN  0.0  0.0  2.0  1.0
6   0.0  0.0  1.0  1.0  0.0  2.0
7   1.0  NaN  1.0  0.0  0.0  2.0
8   NaN  2.0  0.0  0.0  NaN  NaN
9   NaN  NaN  0.0  1.0  1.0  0.0
10  0.0  2.0  1.0  2.0  NaN  0.0
11  0.0  2.0  NaN  1.0  2.0  1.0
12  0.0  2.0  0.0  0.0  0.0  NaN
13  0.0  0.0  0.0  0.0  0.0  NaN
14  1.0  NaN  0.0  0.0  0.0  0.0
15  2.0  1.0  0.0  2.0  NaN  NaN
16  NaN  NaN  1.0  2.0  NaN  2.0
17  NaN  1.0  2.0  NaN  0.0  0.0
18  1.0  NaN  2.0  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  0.0
20  NaN  2.0  0.0  NaN  NaN  NaN
21  NaN  2.0  0.0  NaN  NaN  1.0
22  0.0  2.0  1.0  0.0  NaN  NaN
23  1.0  2.0  1.0  0.0  1.0  1.0
24  1.0  NaN  0.0  0.0  0.0  0.0
25  0.0  0.0  1.0  1.0  NaN  1.0
26  2.0  2.0  1.0  1.0  0.0  NaN
27  0.0  0.0  1.0  0.0  0.0  1.0
28  1.0  0.0  NaN  0.0  0.0  0.0
29  NaN  NaN  2.0  0.0  2.0  1.0
30  0.0  0.0  NaN  2.0  2.0  0.0
31  1.0  2.0  0.0  0.0  0.0  1.0
32  0.0  2.0  0.0  0.0  1.0  NaN
33  NaN  0.0  NaN  0.0  NaN  0.0
34  0.0  2.0  1.0  0.0  0.0  NaN
35  2.0  0.0  2.0  0.0  1.0  NaN
36  2.0  0.0  0.0  2.0  NaN  1.0
37  0.0  NaN  2.0  2.0  NaN  NaN
38  0.0  0.0  2.0  2.0  1.0  1.0
39  1.0  2.0  2.0  1.0  NaN  2.0
40  1.0  1.0  0.0  0.0  0.0  NaN
41  2.0  NaN  0.0  1.0  NaN  0.0
42  0.0  0.0  NaN  0.0  2.0  2.0
43  0.0  NaN  0.0  1.0  NaN  0.0
44  1.0  NaN  0.0  0.0  1.0  1.0
45  2.0  NaN  0.0  2.0  1.0  0.0
46  0.0  NaN  0.0  0.0  2.0  0.0
47  2.0  NaN  0.0  2.0  NaN  1.0
48  NaN  NaN  1.0  0.0  1.0  2.0
49  2.0  0.0  2.0  0.0  2.0  2.0

[50 rows x 50 columns]

* Sort the rows in matrix `R` by the largest row sum to lowest. Be careful about the NA's!

In [59]:
# Compute row sums, ignoring NaN values
row_sum = np.nansum(R, axis = 1)

# Get the row indices sorted by largest row sum to smallest
sorted_indices = np.argsort(-row_sum)
print(sorted_indices)

[46 31 10  6 23  9 21 36 35 11 30 22 49  0  5 29  3 17 18 25 38 16 47 42
  2 15 45 13 12 39 14 48 37 40  4 32 28 43 33 27 44  8 20 19 26  7 24 41
  1 34]

* Python does not have an apply function. Instead use the nanstd function in numpy to calculate the standard devation of each column. Print them and combine then into a dataframe.

In [61]:
#compute row-wise and column-wise standard deviation
row_sd = np.nanstd(R, axis = 1)
col_sd = np.nanstd(R, axis = 0)

#combine the results into a dictionary
result = {"row_sd": row_sd.tolist(), "col_sd": col_sd.tolist()}

#print the results
print(result["row_sd"])
print(result["col_sd"])

[0.8101398216433043, 0.7759128922285868, 0.8398250546685182, 0.796293315922405, 0.7440316988998414, 0.8099094088525242, 0.7590634264134716, 0.7577213929122264, 0.8050858744917355, 0.8631740228470979, 0.8529411764705882, 0.8437483969411261, 0.858501148195672, 0.8439143072757396, 0.8170927815043769, 0.7395530917454162, 0.7692174606248247, 0.8771402396424417, 0.7948810838735565, 0.7998216210167726, 0.8474150369789052, 0.8620067027323833, 0.8855538906789369, 0.7440316988998414, 0.7632573146685603, 0.7948810838735565, 0.7940989435542691, 0.7714633558002355, 0.7591617288906527, 0.8559031717046193, 0.8542809364414888, 0.8406677043714188, 0.7915448249319448, 0.7973722274670736, 0.6845227743263395, 0.8724939396583133, 0.9, 0.7907630001770314, 0.8971610553204333, 0.7890434282600932, 0.8572277858383485, 0.7759128922285868, 0.7645178445438923, 0.8097205585386296, 0.6381239817359022, 0.8975274678557507, 0.8994920746890102, 0.8076779989575054, 0.7561741254224965, 0.8611720832690598]
[0.8113596602431601, 0.8040302522073697, 0.8555667477373081, 0.8408749651825217, 0.899218410621135, 0.7472398188926869, 0.802729717900116, 0.7677930533936251, 0.8134892168199607, 0.7907630001770314, 0.7517293082676685, 0.8202679477907444, 0.8572277858383485, 0.9116056881941459, 0.880630571852711, 0.8000865005138497, 0.7714633558002355, 0.9131223741405676, 0.7561741254224965, 0.8454843286542927, 0.8304547985373997, 0.7851804889910243, 0.7999307449247718, 0.8188787787861145, 0.7397912494384062, 0.7794197001831111, 0.8422247684280207, 0.7405964122287306, 0.8564835163859432, 0.8123867916017437, 0.8648648648648647, 0.8518133231524382, 0.8793101896089037, 0.7951240294584375, 0.7413760151179979, 0.816496580927726, 0.8461210999099357, 0.8529411764705882, 0.8170927815043769, 0.7940989435542689, 0.8919392106839766, 0.7660865862605107, 0.7463869141440893, 0.7071067811865476, 0.7894771445302897, 0.9333240326917549, 0.7741077663764296, 0.8003098573481368, 0.8570991287109667, 0.7687785169756406]

* combine the results from the previous cell into a dataframe

In [63]:
sd_df = pd.DataFrame({"row_sd": row_sd.tolist(), "col_sd": col_sd.tolist()})
sd_df

      row_sd    col_sd
0   0.810140  0.811360
1   0.775913  0.804030
2   0.839825  0.855567
3   0.796293  0.840875
4   0.744032  0.899218
5   0.809909  0.747240
6   0.759063  0.802730
7   0.757721  0.767793
8   0.805086  0.813489
9   0.863174  0.790763
10  0.852941  0.751729
11  0.843748  0.820268
12  0.858501  0.857228
13  0.843914  0.911606
14  0.817093  0.880631
15  0.739553  0.800087
16  0.769217  0.771463
17  0.877140  0.913122
18  0.794881  0.756174
19  0.799822  0.845484
20  0.847415  0.830455
21  0.862007  0.785180
22  0.885554  0.799931
23  0.744032  0.818879
24  0.763257  0.739791
25  0.794881  0.779420
26  0.794099  0.842225
27  0.771463  0.740596
28  0.759162  0.856484
29  0.855903  0.812387
30  0.854281  0.864865
31  0.840668  0.851813
32  0.791545  0.879310
33  0.797372  0.795124
34  0.684523  0.741376
35  0.872494  0.816497
36  0.900000  0.846121
37  0.790763  0.852941
38  0.897161  0.817093
39  0.789043  0.794099
40  0.857228  0.891939
41  0.775913  0.766087
42  0.764518  0.746387
43  0.809721  0.707107
44  0.638124  0.789477
45  0.897527  0.933324
46  0.899492  0.774108
47  0.807678  0.800310
48  0.756174  0.857099
49  0.861172  0.768779

* Use the Pandas apply function to compute a vector whose entries are the count of entries that are 1 or 2 in each column

In [65]:
R = pd.DataFrame(R)

counts = R.apply(lambda col: ((col == 1) | (col == 2)).sum(), axis = 0)
print(counts)

0     12
1     15
2     17
3     14
4     18
5     18
6     23
7     19
8     10
9     16
10    14
11    19
12    14
13    20
14    15
15    15
16    14
17    17
18    17
19    14
20    19
21    20
22    21
23    19
24    19
25    14
26    17
27    22
28    18
29    15
30    19
31    13
32    16
33    20
34    17
35    22
36    17
37    23
38    15
39    12
40    13
41    19
42    21
43    12
44    19
45    19
46    20
47    19
48    18
49    19
dtype: int64

Since we just switched between Pandas dataframes and Numpy arrays. Here are some handy ways to check to see if you are working with a Pandas dataframe or a Numpy array

In [67]:
# Check type directly
if type(R) == pd.DataFrame:
    print("R is a Pandas DataFrame")

if type(R) == np.ndarray:
    print("R is a NumPy array")

R is a Pandas DataFrame

In [69]:
# isinstance(object, classinfo): This function checks if an object is an instance of a specified class or subclass.
# function utilizing this function to check
def check_type(R):
    if isinstance(R, pd.DataFrame):
        return "Pandas DataFrame"
    elif isinstance(R, np.ndarray):
        return "NumPy array"
    else:
        return "Unknown type"

# Test the function
print(check_type(R))  # Output: Pandas DataFrame

Pandas DataFrame

* Create a list whose keys are the column number and values are the vector of the columns.

In [71]:
column_vectors = {col: R[col].values for col in R.columns}

print(column_vectors)

{0: array([ 0.,  0., nan,  1.,  0.,  0., nan,  2.,  2., nan, nan,  1.,  0.,
        0.,  2.,  0.,  0.,  0., nan, nan,  0., nan,  1.,  0.,  0., nan,
       nan, nan,  1.,  0.,  0.,  1., nan,  0.,  0.,  0.,  2.,  0., nan,
        2., nan, nan, nan,  2.,  0., nan,  0.,  0.,  0.,  2.]), 1: array([ 1.,  1.,  0., nan,  1., nan, nan,  0.,  0.,  2.,  0., nan,  0.,
        1.,  0., nan, nan, nan, nan, nan,  1.,  1.,  0.,  0., nan,  2.,
        0.,  2., nan,  2., nan,  0.,  2.,  1.,  1., nan,  0.,  0., nan,
        0.,  0., nan, nan,  0.,  2., nan,  2.,  0.,  0.,  0.]), 2: array([ 2.,  2., nan, nan,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  2.,
       nan, nan,  2.,  2., nan,  0.,  0.,  0.,  0.,  1.,  2., nan,  0.,
       nan,  0., nan, nan, nan,  1.,  2.,  0.,  0.,  1., nan,  0.,  0.,
        0.,  2.,  0.,  0., nan,  0.,  2.,  2.,  0.,  0.,  0.]), 3: array([nan,  0.,  2.,  0.,  2.,  0.,  2.,  0., nan, nan,  1.,  0.,  0.,
        0., nan,  0., nan,  0.,  0.,  0.,  2.,  0.,  0.,  2., nan,  1.,
        0., nan,  0.,  1., nan,  1.,  0.,  0.,  0., nan,  2., nan, nan,
        2., nan, nan,  0., nan,  1., nan,  2.,  1., nan, nan]), 4: array([nan, nan,  2., nan, nan,  1.,  1.,  0.,  2.,  2.,  1., nan, nan,
       nan,  2., nan, nan,  2., nan,  2.,  0.,  0.,  0., nan,  0.,  2.,
       nan, nan, nan,  2.,  0.,  2.,  1., nan, nan,  0.,  2.,  2.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  0.,  2.,  1., nan, nan]), 5: array([ 1., nan,  0., nan,  0.,  1.,  1.,  2.,  1.,  0.,  2.,  0.,  2.,
        1.,  0., nan, nan,  0.,  1., nan,  0.,  2., nan,  0.,  2., nan,
       nan,  0., nan,  0., nan,  0.,  0.,  0.,  1.,  1.,  0.,  0., nan,
       nan, nan,  2.,  1.,  1.,  0., nan,  1.,  0.,  1., nan]), 6: array([ 2., nan,  1.,  2.,  1.,  0.,  2., nan,  2.,  2.,  2., nan,  0.,
        0.,  0.,  1.,  0.,  0.,  0., nan,  2.,  1., nan,  1.,  0., nan,
        0.,  2.,  1.,  0.,  2.,  1.,  0.,  0.,  0., nan,  0.,  1., nan,
        1.,  1., nan,  0.,  1.,  1.,  0.,  0.,  2.,  1., nan]), 7: array([ 0.,  0., nan,  1., nan,  0.,  0., nan,  0., nan, nan,  2.,  0.,
       nan,  0., nan,  0.,  0.,  1.,  1., nan,  0.,  1.,  1.,  1.,  1.,
        0.,  1., nan, nan,  2.,  2.,  1.,  2.,  0.,  2.,  0.,  0.,  0.,
       nan, nan, nan,  1.,  1.,  0.,  2., nan,  1.,  2.,  0.]), 8: array([ 0.,  0.,  0., nan, nan,  1., nan, nan,  0.,  2., nan,  2., nan,
        0.,  0.,  0.,  0.,  0.,  0., nan, nan,  2.,  0.,  0.,  0.,  0.,
        0.,  0.,  0., nan, nan,  0.,  0.,  2.,  0.,  1., nan, nan,  2.,
       nan,  2., nan, nan, nan,  0.,  0.,  0.,  0.,  2.,  1.]), 9: array([ 0.,  0., nan,  1.,  0.,  1.,  1.,  0.,  0., nan,  2.,  0.,  2.,
       nan,  2.,  1.,  2., nan,  0., nan,  0.,  1., nan,  1.,  2.,  0.,
        0.,  0., nan,  0., nan,  2.,  0., nan,  0.,  2.,  0., nan, nan,
       nan,  0.,  1.,  0.,  1.,  0., nan, nan,  1., nan,  0.]), 10: array([ 2.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  2.,  0.,  0.,
        1., nan, nan,  0.,  2.,  0.,  1.,  0., nan,  0.,  0., nan, nan,
        2.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  2., nan,  0.,  0., nan,
        0., nan,  0., nan,  0., nan,  1.,  0., nan, nan,  0.]), 11: array([nan, nan,  0.,  1.,  1.,  2., nan,  0., nan,  0., nan,  0., nan,
        1., nan,  2., nan,  2.,  0.,  1., nan,  0.,  2.,  2.,  0.,  0.,
       nan,  2.,  0.,  1.,  1.,  0., nan,  0.,  0., nan, nan,  1.,  0.,
        0., nan,  0.,  1.,  0.,  1.,  2.,  2.,  1.,  0.,  2.]), 12: array([nan,  0., nan,  1.,  1.,  0.,  2., nan,  0.,  2.,  1.,  2., nan,
        2., nan,  1.,  1.,  2., nan, nan, nan,  2.,  2., nan, nan, nan,
        0., nan,  0.,  0.,  0., nan,  0., nan, nan,  2.,  0., nan, nan,
        0., nan, nan,  0.,  0.,  0.,  1.,  0.,  0., nan, nan]), 13: array([ 0.,  2.,  1.,  2.,  0., nan,  2.,  0.,  0., nan,  0.,  0.,  1.,
        0.,  1.,  0.,  0., nan,  2.,  2., nan, nan,  2.,  0.,  2.,  0.,
       nan, nan,  2.,  1.,  0.,  2., nan, nan,  2.,  2., nan,  1.,  2.,
       nan,  0.,  0.,  1.,  2.,  0., nan,  0.,  2.,  0.,  0.]), 14: array([ 0.,  0.,  1., nan,  0.,  2.,  2.,  0.,  0.,  0.,  2., nan, nan,
       nan,  0.,  0.,  2.,  2.,  2., nan, nan,  0., nan, nan,  0.,  2.,
        2.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1., nan, nan,
       nan,  2., nan,  2.,  0., nan, nan,  0.,  0.,  0., nan]), 15: array([nan, nan,  1.,  0., nan, nan,  0., nan, nan,  0.,  0., nan,  0.,
       nan,  1., nan,  0.,  0., nan,  1.,  2.,  1.,  2.,  1.,  0.,  0.,
        1., nan,  2.,  2.,  2.,  1.,  0.,  0.,  1.,  0.,  0., nan,  2.,
        0., nan,  0.,  0., nan,  0., nan, nan,  0.,  0.,  2.]), 16: array([ 1., nan,  0., nan,  0.,  0.,  1.,  0.,  1.,  1.,  2., nan,  0.,
        2., nan,  1.,  0.,  0., nan, nan,  2.,  0.,  2., nan,  0.,  1.,
        0., nan,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  2., nan, nan,
        0., nan, nan,  1., nan, nan,  2.,  0., nan, nan,  0.]), 17: array([ 0., nan,  0.,  2.,  2.,  2.,  2., nan, nan,  2., nan,  1.,  1.,
        2.,  0., nan,  1.,  0., nan,  0.,  0.,  0.,  2.,  0., nan, nan,
       nan, nan,  0., nan,  2.,  0., nan,  0., nan,  2.,  1., nan, nan,
        0.,  2.,  1.,  0., nan,  0.,  2.,  0., nan,  2.,  0.]), 18: array([ 2., nan, nan,  0.,  0.,  2.,  1.,  2.,  0.,  0., nan,  2.,  0.,
        0.,  0., nan,  0.,  1.,  1.,  0., nan, nan,  0., nan,  0.,  1.,
       nan,  2.,  0., nan,  1.,  1., nan,  1., nan,  0.,  2.,  0.,  1.,
       nan,  1., nan,  0., nan,  1., nan, nan,  0.,  1.,  0.]), 19: array([ 2.,  2.,  0., nan, nan,  2.,  0.,  0.,  0.,  1., nan,  2., nan,
        2.,  0.,  0.,  1.,  0., nan,  0.,  1.,  0.,  2.,  1.,  0., nan,
       nan,  0.,  0.,  0.,  1.,  2.,  0., nan,  0., nan, nan, nan,  1.,
       nan, nan,  0., nan, nan, nan,  0.,  2., nan,  0., nan]), 20: array([ 1., nan, nan, nan,  0., nan,  2.,  1.,  0.,  2., nan,  2., nan,
        0.,  1.,  0., nan,  1.,  2., nan,  1.,  2.,  0.,  0.,  1., nan,
        0., nan,  1., nan, nan, nan, nan, nan,  0., nan,  2.,  1.,  0.,
        1., nan,  0.,  2.,  2., nan, nan,  2.,  2., nan, nan]), 21: array([ 0., nan,  2.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  0., nan,
        1.,  2., nan, nan,  0., nan, nan,  2.,  2.,  2.,  1.,  0.,  1.,
       nan, nan,  0., nan,  0., nan, nan, nan,  0.,  2.,  0.,  0., nan,
        0.,  1.,  1.,  0.,  0.,  2.,  1.,  0.,  1.,  1.,  2.]), 22: array([ 0., nan,  0.,  1.,  1.,  0., nan, nan,  0., nan,  0.,  0.,  1.,
        0., nan,  1.,  1.,  0.,  2.,  1., nan,  2.,  0.,  0.,  0., nan,
        2., nan, nan, nan,  2.,  2.,  1.,  0.,  1.,  0., nan,  1.,  2.,
        1.,  1.,  0.,  2.,  0.,  1.,  2.,  2., nan,  0.,  0.]), 23: array([nan,  0.,  0.,  0.,  0.,  0., nan,  0.,  2.,  2., nan,  0.,  2.,
        0.,  2.,  0.,  1.,  0.,  1.,  0.,  0.,  0., nan, nan, nan, nan,
        2.,  1.,  1.,  1.,  1.,  2.,  2., nan,  0., nan,  1.,  1.,  2.,
       nan, nan, nan,  0.,  0.,  0., nan,  1.,  0.,  2.,  1.]), 24: array([ 1.,  2.,  1.,  1., nan, nan,  1.,  0.,  0.,  0.,  0., nan,  0.,
        1., nan, nan,  1.,  2.,  0.,  2.,  1., nan, nan,  2., nan, nan,
        0.,  0., nan, nan, nan,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,
        1., nan, nan, nan,  2.,  2., nan,  1., nan,  1.,  0.]), 25: array([ 0., nan,  0.,  1.,  0.,  1.,  2.,  0., nan, nan, nan,  0.,  1.,
        2.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  2.,  0., nan, nan,  0.,
        0.,  0.,  0.,  2.,  0.,  1.,  2.,  2., nan, nan,  1.,  0.,  0.,
       nan,  0., nan,  0.,  0.,  1.,  0.,  0., nan,  0.,  1.]), 26: array([nan, nan,  1.,  0., nan, nan, nan,  0.,  0.,  1.,  2., nan,  2.,
        1.,  0., nan,  0., nan,  1., nan,  0.,  0., nan,  1., nan,  0.,
       nan,  0.,  2.,  0.,  0.,  0.,  2.,  2.,  0.,  0.,  2.,  2.,  2.,
        0., nan,  1.,  1., nan,  1.,  0., nan, nan,  2.,  0.]), 27: array([ 2.,  0.,  0.,  0.,  2.,  0., nan,  0., nan,  0.,  0.,  1., nan,
       nan, nan,  0.,  0., nan, nan,  0., nan,  1.,  0.,  2.,  1.,  1.,
        1., nan,  2.,  1.,  1.,  2.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,
        0.,  2.,  0.,  1.,  1.,  1.,  0.,  0.,  2.,  1.,  1.]), 28: array([ 0., nan, nan, nan,  0., nan,  0.,  0., nan,  2., nan, nan, nan,
       nan,  1.,  0., nan,  0.,  0.,  1.,  1.,  0.,  2.,  1.,  2.,  0.,
       nan,  1.,  2.,  2.,  0., nan,  1.,  0.,  2., nan,  2.,  0.,  0.,
        1.,  0.,  2., nan, nan,  0.,  0.,  2., nan,  1.,  2.]), 29: array([ 1.,  1., nan,  2.,  0.,  1.,  0., nan,  0.,  0.,  2.,  0.,  0.,
        0.,  0., nan,  1.,  0., nan,  0., nan, nan,  2., nan,  1.,  0.,
       nan,  0.,  0.,  0., nan,  2.,  2.,  0., nan,  2.,  0., nan,  0.,
        0.,  0.,  0.,  0., nan,  0.,  2.,  2.,  1.,  0.,  1.]), 30: array([ 2.,  1., nan,  0.,  0.,  2.,  0.,  1.,  0.,  1.,  2.,  0., nan,
        0., nan,  1.,  2.,  2., nan,  2., nan,  0.,  0.,  0.,  0.,  2.,
        0., nan,  1., nan, nan, nan, nan,  0., nan,  2.,  0.,  1.,  2.,
        2., nan,  0.,  0.,  0.,  1.,  0.,  2., nan,  0.,  1.]), 31: array([ 0., nan, nan, nan,  2.,  0.,  1., nan,  0.,  0.,  1.,  0., nan,
        2.,  0.,  0., nan,  0.,  1.,  2.,  0., nan, nan,  0., nan,  0.,
       nan,  0.,  1.,  2.,  0.,  1., nan, nan,  0.,  0.,  2.,  0.,  0.,
       nan,  0.,  2., nan,  2., nan, nan,  2., nan, nan,  0.]), 32: array([nan, nan,  0.,  2.,  2.,  0., nan,  0.,  0.,  0.,  0.,  2.,  0.,
        2., nan,  1., nan,  0.,  2.,  0.,  0.,  2.,  1.,  2.,  2.,  1.,
        0.,  2.,  0., nan,  2., nan,  1.,  0., nan, nan,  0., nan, nan,
       nan, nan, nan,  1.,  0.,  0., nan,  1., nan, nan,  0.]), 33: array([ 1., nan, nan, nan, nan, nan, nan,  0., nan,  2., nan, nan,  1.,
        2.,  1.,  0., nan,  0.,  2.,  0.,  2.,  2., nan,  1.,  2., nan,
        0.,  0., nan,  0., nan, nan,  1.,  0., nan, nan,  0.,  2., nan,
        1.,  2.,  1.,  1., nan, nan,  1.,  0.,  1.,  1.,  2.]), 34: array([nan,  0.,  1.,  1.,  1., nan,  1., nan,  2., nan,  0.,  1.,  0.,
       nan,  1.,  0.,  1.,  0.,  1.,  0., nan,  2.,  2.,  1.,  0., nan,
        0.,  2.,  0.,  2., nan,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        2.,  0., nan,  0.,  0., nan,  0.,  0., nan,  0.,  1.]), 35: array([nan,  2.,  2.,  0., nan, nan,  1.,  2., nan,  2., nan,  1.,  1.,
       nan,  2.,  2.,  1.,  0.,  1., nan, nan,  1.,  1.,  2.,  0., nan,
       nan,  1., nan,  2.,  2., nan,  0., nan,  0.,  2.,  0.,  0.,  0.,
        1., nan,  0.,  2.,  0.,  1.,  0.,  1., nan, nan, nan]), 36: array([ 1.,  1.,  2., nan,  0., nan,  1., nan, nan,  2.,  1.,  2., nan,
       nan,  0.,  0.,  0.,  2.,  0.,  0., nan, nan, nan,  1.,  0.,  2.,
       nan, nan,  2., nan,  1.,  2.,  0.,  2., nan,  0., nan,  0.,  0.,
       nan,  2., nan,  1., nan,  0.,  0.,  1.,  0., nan, nan]), 37: array([ 2.,  1.,  0.,  1., nan,  2.,  0.,  2., nan, nan,  2.,  2.,  2.,
        2.,  0.,  1.,  0., nan,  1.,  0.,  0.,  1., nan, nan,  0.,  2.,
        1., nan, nan, nan, nan,  2.,  0.,  2.,  0.,  1., nan,  1.,  2.,
       nan,  0., nan, nan,  2.,  0., nan,  2.,  1., nan,  2.]), 38: array([ 2.,  0., nan,  2.,  0., nan, nan,  0.,  0.,  0.,  1., nan, nan,
        0.,  0.,  1.,  0.,  0.,  0., nan, nan,  1.,  0., nan,  0.,  1.,
        1.,  0., nan,  0.,  2.,  1.,  0.,  0.,  0.,  2.,  0.,  2.,  0.,
        0., nan, nan,  2., nan, nan,  2.,  2.,  0.,  0.,  1.]), 39: array([nan, nan,  1.,  0.,  0.,  2.,  2.,  0., nan, nan,  2.,  1.,  0.,
        0.,  2.,  1.,  2.,  0., nan,  2., nan, nan, nan,  1.,  0., nan,
        0.,  0., nan, nan,  1.,  0., nan,  1., nan,  0.,  0.,  0.,  0.,
        0., nan,  0., nan,  0.,  0., nan, nan, nan, nan,  0.]), 40: array([nan, nan,  0., nan,  0.,  0.,  1.,  0.,  0.,  0.,  2.,  1.,  2.,
       nan,  0., nan, nan,  2.,  2., nan, nan,  0.,  1.,  1.,  0., nan,
       nan,  0., nan, nan,  0., nan,  0., nan, nan, nan,  2.,  2.,  0.,
       nan,  0.,  2.,  0.,  2., nan, nan,  0.,  2.,  0., nan]), 41: array([nan,  0.,  2.,  0.,  1.,  1.,  1., nan,  2.,  1., nan,  0.,  0.,
       nan, nan,  1.,  1.,  1.,  1.,  1., nan, nan, nan,  0., nan,  2.,
        0., nan,  0.,  1.,  2.,  2., nan,  0.,  0., nan, nan,  0.,  2.,
       nan,  2.,  0.,  1., nan, nan, nan,  1., nan, nan,  0.]), 42: array([ 1., nan,  0., nan,  1.,  1., nan,  1.,  0.,  0.,  1.,  1.,  2.,
        0.,  2.,  2.,  1., nan,  0., nan,  0., nan, nan, nan, nan,  2.,
       nan,  1.,  1., nan,  1.,  2., nan,  0., nan, nan,  2.,  1., nan,
        1.,  0., nan,  1.,  0.,  0.,  0.,  2.,  0.,  1.,  0.]), 43: array([ 0., nan, nan,  0.,  0.,  1.,  1.,  0.,  0., nan, nan,  0., nan,
        0.,  0.,  1., nan,  1., nan,  0.,  0.,  2., nan,  2.,  0., nan,
        0.,  0.,  1., nan, nan,  0., nan,  2., nan,  1.,  0., nan,  0.,
        0., nan, nan, nan,  0.,  1., nan,  1.,  2.,  0.,  0.]), 44: array([nan,  0.,  0.,  1.,  0.,  0.,  0.,  1., nan, nan,  0.,  0.,  0.,
        0.,  1.,  2., nan, nan,  1., nan, nan, nan,  0.,  1.,  1.,  0.,
        2.,  0.,  1., nan,  0.,  1.,  0., nan,  0.,  2.,  2.,  0.,  0.,
        1.,  1.,  2.,  0.,  0.,  1.,  2.,  0.,  2., nan,  2.]), 45: array([ 0.,  1.,  2.,  2., nan, nan,  0., nan,  2., nan,  2.,  2.,  2.,
        0., nan,  1., nan,  1., nan, nan,  2.,  2.,  2.,  2., nan,  0.,
        2.,  0.,  0., nan,  0.,  2.,  2.,  0.,  2.,  0.,  0., nan,  0.,
        2.,  1., nan,  0., nan, nan, nan, nan, nan, nan,  0.]), 46: array([ 1.,  0.,  0., nan,  0.,  0.,  1.,  1.,  0.,  0.,  1., nan,  0.,
        0.,  0.,  0.,  1.,  2.,  2., nan,  0.,  0.,  1.,  1.,  0.,  1.,
        1.,  1., nan,  2., nan,  0.,  0., nan,  1.,  2.,  0.,  2.,  2.,
        2.,  0.,  0., nan,  0.,  0.,  0.,  0.,  0.,  1.,  2.]), 47: array([ 1., nan,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  2.,  1.,  0.,
        0.,  0.,  2.,  2., nan, nan, nan, nan, nan,  0.,  0.,  0.,  1.,
        1.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  0.,  0.,  2.,  2.,  2.,
        1.,  0.,  1.,  0.,  1.,  0.,  2.,  0.,  2.,  0.,  0.]), 48: array([ 0.,  0.,  2.,  2.,  2.,  2.,  0.,  0., nan,  1., nan,  2.,  0.,
        0.,  0., nan, nan,  0., nan, nan, nan, nan, nan,  1.,  0., nan,
        0.,  0.,  0.,  2.,  2.,  0.,  1., nan,  0.,  1., nan, nan,  1.,
       nan,  0., nan,  2., nan,  1.,  1.,  2., nan,  1.,  2.]), 49: array([nan,  0., nan,  0.,  0.,  1.,  2.,  2., nan,  0.,  0.,  1., nan,
       nan,  0., nan,  2.,  0., nan,  0., nan,  1., nan,  1.,  0.,  1.,
       nan,  1.,  0.,  1.,  0.,  1., nan,  0., nan, nan,  1., nan,  1.,
        2., nan,  0.,  2.,  0.,  1.,  0.,  0.,  1.,  2.,  2.])}

* Create a list whose keys are the column number and values are themselves a list with keys: "min" whose value is the minimum of the column, "max" whose value is the maximum of the column, "pct_missing" is the proportion of missingness in the column and "first_NA" whose value is the row number of the first time the NA appears. In R this was accomplished using lappy. In Python we will use dictionary comprehension in tandem with Numpy and Pandas operations.

In [73]:
col_stats = {
    col: {
        "min": R[col].min(skipna = True),
        "max": R[col].max(skipna = True),
        "pct_missing" : R[col].isna().mean(),
        "first_NA" : R[col].index[R[col].isna()].min()
    } for col in R.columns
}

print(col_stats)

{0: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 2}, 1: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 3}, 2: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.24, 'first_NA': 2}, 3: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 0}, 4: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.36, 'first_NA': 0}, 5: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.3, 'first_NA': 1}, 6: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.2, 'first_NA': 1}, 7: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.28, 'first_NA': 2}, 8: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 3}, 9: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.3, 'first_NA': 2}, 10: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.24, 'first_NA': 14}, 11: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.28, 'first_NA': 0}, 12: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.42, 'first_NA': 0}, 13: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.24, 'first_NA': 5}, 14: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.3, 'first_NA': 3}, 15: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 0}, 16: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 1}, 17: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 1}, 18: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 1}, 19: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.36, 'first_NA': 3}, 20: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.42, 'first_NA': 1}, 21: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.26, 'first_NA': 1}, 22: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.24, 'first_NA': 1}, 23: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.26, 'first_NA': 0}, 24: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 4}, 25: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.22, 'first_NA': 1}, 26: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 0}, 27: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.18, 'first_NA': 6}, 28: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 1}, 29: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.24, 'first_NA': 2}, 30: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.26, 'first_NA': 2}, 31: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.36, 'first_NA': 1}, 32: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 0}, 33: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.4, 'first_NA': 1}, 34: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.22, 'first_NA': 0}, 35: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 0}, 36: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.38, 'first_NA': 3}, 37: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 4}, 38: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.26, 'first_NA': 2}, 39: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.38, 'first_NA': 0}, 40: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.4, 'first_NA': 0}, 41: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.38, 'first_NA': 0}, 42: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.32, 'first_NA': 1}, 43: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.36, 'first_NA': 1}, 44: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.22, 'first_NA': 0}, 45: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.36, 'first_NA': 4}, 46: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.14, 'first_NA': 3}, 47: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.12, 'first_NA': 1}, 48: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.34, 'first_NA': 8}, 49: {'min': 0.0, 'max': 2.0, 'pct_missing': 0.3, 'first_NA': 0}}

* Set a seed and then create a vector `v` consisting of a sample of 1,000 iid normal realizations with mean -10 and variance 100.

In [75]:
import random

np.random.seed(1)

v = np.random.normal(loc = -10, scale = np.sqrt(100), size = 1000)
print(v[:5])

[  6.24345364 -16.11756414 -15.28171752 -20.72968622  -1.34592371]

* Repeat this exercise by resetting the seed to ensure you obtain the same results. You can use the random module built in python or random.seed from numpy.

In [77]:
np.random.seed(1)

v = np.random.normal(loc = -10, scale = np.sqrt(100), size = 1000)
print(v[:5])

[  6.24345364 -16.11756414 -15.28171752 -20.72968622  -1.34592371]

* Find the average of `v` and the standard error of `v`.

In [79]:
mean_v = np.mean(v)
se_v = np.std(v)/np.sqrt(len(v))
print(mean_v)
print(se_v)

-9.611875238403982
0.3102207457266662

* Find the 5%ile of `v` and use the `norm` function from scipy.stats to compute what it theoretically should be. Is the estimate about what is expected by theory?

In [81]:
from scipy.stats import norm

percentile_v = np.percentile(v, 5)
theoretical_percentile = norm.ppf(.05, loc = -10, scale = np.sqrt(100))

print(percentile_v)
print(theoretical_percentile)

# yes, our 5 %ile is close to the exact

-26.16355653998943
-26.44853626951473


* What is the percentile of `v` that corresponds to the value 0? What should it be theoretically? Is the estimate about what is expected by theory?

In [83]:
percentile_0 = np.mean(v <= 0)
theoretical_percentile_0 = norm.cdf(0, loc = -10, scale = np.sqrt(100))

print(percentile_0, theoretical_percentile_0)

# yes, our cdf at 0, is close to the exact

0.837 0.8413447460685429

* Create a function `my_reverse` which takes as required input a vector `v` and returns the vector in reverse where the first entry is the last entry, etc. No function calls are allowed inside your function otherwise that would defeat the purpose of the exercise! (Yes, there is a base R function that does this called `rev`).

In [85]:
def my_reverse(v):
    return[v[i] for i in range(len(v) - 1, -1, -1 )]

 * Built in methods in python to reverse a list.

In [87]:
#reverse using slicing
v = [1, 2, 3, 4, 5]
v_reversed = v[::-1]
print(v_reversed)

print(my_reverse(v))

#using the .reverse method
v = [1, 2, 3, 4, 5]
v.reverse()
print(v)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

* Create a function `flip_matrix` which takes as required input a matrix, an argument `dim_to_rev` that returns the matrix with the rows in reverse order or the columns in reverse order depending on the `dim_to_rev` argument. Let the default be the dimension of the matrix that is greater.

In [89]:
def flip_matrix(matrix, dim_to_rev = None) :
    rows, cols = matrix.shape
    if dim_to_rev is None:
        dim_to_rev = 0 if rows >= cols else 1
    if dim_to_rev == 0: #reverse rows
        return matrix[::-1, :]
    if dim_to_rev == 1: #reverse cols
        return matrix[:, ::-1]

* Create a list named `my_list` with keys "A", "B", ... where the entries are arrays of size 1, 2 x 2, 3 x 3 x 3, etc. Fill the array with the numbers 1, 2, 3, etc. Make 8 entries according to this sequence.

In [91]:
import string

keys = string.ascii_uppercase[:8]

my_list = {
    key: np.arange(1, (n + 1) ** n + 1).reshape((n + 1,) * n)
    for n, key in enumerate(keys, start = 1)
}

* Run the following code:

In [93]:
import sys

sizes = {key: sys.getsizeof(value) for key, value in my_list.items()}


# Print the sizes
for key, size in sizes.items():
    print(f"Key: {key}, Size: {size} bytes")

Key: A, Size: 112 bytes
Key: B, Size: 128 bytes
Key: C, Size: 144 bytes
Key: D, Size: 160 bytes
Key: E, Size: 176 bytes
Key: F, Size: 192 bytes
Key: G, Size: 208 bytes
Key: H, Size: 224 bytes

* Create vector `v` consisting of all numbers from -100 to 100 and test using the second line of code

In [95]:
v = np.arange(-100, 101)
print(v)

[-100  -99  -98  -97  -96  -95  -94  -93  -92  -91  -90  -89  -88  -87
  -86  -85  -84  -83  -82  -81  -80  -79  -78  -77  -76  -75  -74  -73
  -72  -71  -70  -69  -68  -67  -66  -65  -64  -63  -62  -61  -60  -59
  -58  -57  -56  -55  -54  -53  -52  -51  -50  -49  -48  -47  -46  -45
  -44  -43  -42  -41  -40  -39  -38  -37  -36  -35  -34  -33  -32  -31
  -30  -29  -28  -27  -26  -25  -24  -23  -22  -21  -20  -19  -18  -17
  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7   -6   -5   -4   -3
   -2   -1    0    1    2    3    4    5    6    7    8    9   10   11
   12   13   14   15   16   17   18   19   20   21   22   23   24   25
   26   27   28   29   30   31   32   33   34   35   36   37   38   39
   40   41   42   43   44   45   46   47   48   49   50   51   52   53
   54   55   56   57   58   59   60   61   62   63   64   65   66   67
   68   69   70   71   72   73   74   75   76   77   78   79   80   81
   82   83   84   85   86   87   88   89   90   91   92   93   94   95
   96   97   98   99  100]

* Test the `my_reverse` function using the following code:

In [97]:
# Test the function
v = list(range(1, 11))
v_reversed = my_reverse(v)
print(v)
print(v_reversed)
type(v_reversed)

assert my_reverse(v) == v[::-1], "my_reverse failed for numerical vector"

 # Test with character vector
v_char = ["A", "B", "C"]
assert my_reverse(v_char) == v_char[::-1], "my_reverse failed for character vector"

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## A little about strings

* Use the `re.split` function by importing the re module and `random` from the random module to put the sentences in the string `lorem` below in random order. You will also need to manipulate the output of `re.split` which is a list. You may need to learn basic concepts of regular expressions.

In [99]:
import re
import random

lorem = """Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Morbi posuere varius volutpat. Morbi faucibus ligula id massa ultricies viverra.
Donec vehicula sagittis nisi non semper. Donec at tempor erat.
Integer dapibus mi lectus, eu posuere arcu ultricies in.
Cras suscipit id nibh lacinia elementum. Curabitur est augue, congue eget quam in, scelerisque semper magna.
Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu. Mauris at sodales augue."""

sentences = re.split(r'\. ', lorem)
random.shuffle(sentences)

shuffled_lorem = '. '.join(sentences) + '.'

print(shuffled_lorem)

Morbi faucibus ligula id massa ultricies viverra.
Donec vehicula sagittis nisi non semper. Curabitur est augue, congue eget quam in, scelerisque semper magna.
Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu. Mauris at sodales augue.. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Morbi posuere varius volutpat. Donec at tempor erat.
Integer dapibus mi lectus, eu posuere arcu ultricies in.
Cras suscipit id nibh lacinia elementum.

* You have a set of names divided by gender (M / F) and generation (Boomer / GenX / Millenial):

M / Boomer      "Theodore, Bernard, Gene, Herbert, Ray, Tom, Lee, Alfred, Leroy, Eddie"

M / GenX        "Marc, Jamie, Greg, Darryl, Tim, Dean, Jon, Chris, Troy, Jeff"

M / Millennial  "Zachary, Dylan, Christian, Wesley, Seth, Austin, Gabriel, Evan, Casey, Luis"

F / Boomer      "Gloria, Joan, Dorothy, Shirley, Betty, Dianne, Kay, Marjorie, Lorraine, Mildred"

F / GenX        "Tracy, Dawn, Tina, Tammy, Melinda, Tamara, Tracey, Colleen, Sherri, Heidi"

F / Millennial  "Samantha, Alexis, Brittany, Lauren, Taylor, Bethany, Latoya, Candice, Brittney, Cheyenne"

Create python dictionary to store this data.

In [101]:
data = {
    "M": {
        "Boomer": ["Theodore", "Bernard", "Gene", "Herbert", "Ray", "Tom", "Lee", "Alfred", "Leroy", "Eddie"],
        "GenX": ["Marc", "Jamie", "Greg", "Darryl", "Tim", "Dean", "Jon", "Chris", "Troy", "Jeff"],
        "Millenial": ["Zachary", "Dylan", "Christian", "Wesley", "Seth", "Austin", "Gabriel", "Evan", "Casey", "Luis"]
    },
    "F": {
        "Boomer": ["Gloria", "Joan", "Dorothy", "Shirley", "Betty", "Dianne", "Kay", "Marjorie", "Lorraine", "Mildred"],
        "GenX": ["Tracy", "Dawn", "Tina", "Tammy", "Melinda", "Tamara", "Tracey", "Colleen", "Sherri", "Heidi"],
        "Millenial": ["Samantha", "Alexis", "Brittany", "Lauren", "Taylor", "Bethany", "Latoya", "Candice", "Brittney", "Cheyenne"]
    }
}

print(data)

{'M': {'Boomer': ['Theodore', 'Bernard', 'Gene', 'Herbert', 'Ray', 'Tom', 'Lee', 'Alfred', 'Leroy', 'Eddie'], 'GenX': ['Marc', 'Jamie', 'Greg', 'Darryl', 'Tim', 'Dean', 'Jon', 'Chris', 'Troy', 'Jeff'], 'Millenial': ['Zachary', 'Dylan', 'Christian', 'Wesley', 'Seth', 'Austin', 'Gabriel', 'Evan', 'Casey', 'Luis']}, 'F': {'Boomer': ['Gloria', 'Joan', 'Dorothy', 'Shirley', 'Betty', 'Dianne', 'Kay', 'Marjorie', 'Lorraine', 'Mildred'], 'GenX': ['Tracy', 'Dawn', 'Tina', 'Tammy', 'Melinda', 'Tamara', 'Tracey', 'Colleen', 'Sherri', 'Heidi'], 'Millenial': ['Samantha', 'Alexis', 'Brittany', 'Lauren', 'Taylor', 'Bethany', 'Latoya', 'Candice', 'Brittney', 'Cheyenne']}}

* Now cleanup the namespace by deleting all stored objects and functions:

In [103]:
%reset -f